= simple_form_for form, remote: true do |f|
  .modal-header
    = close_modal_button
    h4.modal-title = t("fighters.#{form.model.new_record? ? 'new' : 'edit'}.title")
  .modal-body
    = hidden_field_tag 'fighter[sport_kind]', 'mma'
    /= f.input :sport_kind
    = f.input :last_name
    = f.input :first_name
    = f.input :alias
  .modal-footer
    = f.button :submit