li.fight.list-group-item data-id=id
  .row
    .col-xs-4 = fighter1_presentation
    .col-xs-1.text-center vs.
    .col-xs-4 = fighter2_presentation
    .col-xs-3 = result
    .col-xs-1.text-right = delete_link