h3
  = title
  small =< new_link

table.table.table-hover
  thead
    tr
      th = attribute_name :sport_kind
      th = attribute_name :last_name
      th = attribute_name :first_name
      th = attribute_name :alias
      th

  tbody
    - fighters.each do |fighter|
      = concept('fighter/cell/item', fighter).()