nav.navbar.navbar-inverse.navbar-static-top: .container-fluid
  .navbar-header
    button.navbar-toggle.collapsed type='button' data-toggle='collapse' data-target='#navbar-content' aria-expanded='false'
      span class='sr-only' Toggle navigation
      span class='icon-bar'
      span class='icon-bar'
      span class='icon-bar'
    a.navbar-brand href=root_path = t('application_name')
  #navbar-content.collapse.navbar-collapse
    - if user_signed_in?
      ul.nav.navbar-nav
        = navigation_item_for :events
        = navigation_item_for :fighters
        = navigation_item_for :predictors
    ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        li = link_to current_user.username, edit_user_registration_path
        li = link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'pull-right'
      - else
        li = link_to t('.sign_in'), new_user_session_path
        li = link_to t('.sign_up'), new_user_registration_path