#modal.modal.fade: .modal-dialog
  .modal-content
    - if content_for? :modal_content
      = yield :modal_content
    - else
      .modal-header
        = close_modal_button
        - if content_for? :modal_title
          h4.modal-title = yield :modal_title
      - if content_for? :modal_body
        .modal-body = yield :modal_body
      - if content_for? :modal_footer
        .modal-footer = yield :modal_footer