h3
  = t '.title'
  small =< link_to t('predictors.new.title'), new_predictor_path

table.table.table-hover
  thead
    tr
      th = Predictor.human_attribute_name(:name)
      th

  tbody
    - @predictors.each do |predictor|
      tr
        td = link_to predictor.name, predictor_path(predictor)
        td: .btn-group.btn-group-xs
          = link_to icon(:edit), edit_predictor_path(predictor), class: 'btn btn-default'
          = link_to icon(:trash), predictor, data: {confirm: t('helpers.confirmation')}, method: :delete, class: 'btn btn-danger'