= simple_form_for form, html: {class: 'form'} do |f|
  = hidden_field_tag 'event[kind]', 'mma'
  = f.input :name
  = f.input :start_time, as: :datetime, with_css_classes: true, start_year: Time.now.year, end_year: Time.now.year.next
  = f.input :description, as: :text

  = f.button :submit