= simple_form_for [form.event, form], remote: true, html: {class: 'fight-form form-inline'} do |f|
  = f.input :fighter1, as: :fighter, label: false
  '  vs.
  = f.input :fighter2, as: :fighter, label: false
  = f.button :submit