@import "variables";
//@import "autocomplete";

body {
  background-color: $bg-color;
  color: $font-color;
}

select.datetime {
  display: inline;
  &.day, &.hour, &.minute {
    width: 50px;
  }
  &.month, &.year {
    width: 100px;
  }
}

label.datetime {
  display: block;
}

//[type='submit'] {
//  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
//}
