h3
  = title
  small =< new_link

table.table.table-hover
  thead
    tr
      th = attribute_name :name
      th = attribute_name :date
      th = attribute_name :kind
      th

  tbody
    = events_list