doctype html
html lang='ru'
  head
    meta charset='utf-8'
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    title = content_for?(:title) ? yield(:title) : title
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  body class="c-#{controller_name} a-#{action_name}"
    header = render 'shared/header'
    #flash-messages = render 'shared/flash_messages'
    #main-container.container-fluid = yield
    footer = render 'shared/footer'